.dropdown-container {
  width: 100%;
}

.dropdown-item {
  padding: 10px 0;
  display: block;
  margin-top: 20px;
}

.dropdown-header{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.sub-count {
  color: #999;
  font-size: 12px;
}

.arrow {
  transition: 0.3s;
}

.arrow.open {
  transform: rotate(180deg);
}

/* Content */
.dropdown-content {
  margin-top: 10px;
  padding-left: 15px;
  margin-left: 80px;
}

.dropdown-subitem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 0;
  color: #000000;
}

/* Purple dot */
.dot {
  width: 6px;
  height: 6px;
  background: #6a0dad;
  border-radius: 50%;
}

.subindustry-item{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #555;
}